# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
.venv/
env/
venv/

# Environment variables
*.env

# IDE/Editor-specific files
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db